<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ser Vivo</title>
</head>
<body>
    <h1>Cadastro de Seres Vivos</h1>    
    <a href="/">Menu</a>
    <br>
    <br>
    <h1>
        <form th:action="@{/home/salvarservivo}" th:object="${servivo}" method="POST">
            <label>Nome</label><br>
            <input type="text" name="nomeSerVivo" required/>
            <br><label>Especie</label><br>
            <input type="text" name="Especie" required/>
           
            <br><label>Reino</label><br>
            
            <select th:field="${servivo.reino}">
                <option value="">Escolha o Reino</option>
                <option th:each="reino:${reinos}" 
                        th:value="${reino.idReino}" 
                        th:text="${reino.nomeReino}"></option>
            </select>

            <br><label>Estado de Conservação</label><br>

            <select th:field="${servivo.estadoConservacao}">
                <option value="">Qual o Estado de Conservação</option>
                <option th:each="estadoconservacao:${estadosconservacao}" 
                        th:value="${estadoconservacao.idEstadoConservacao}" 
                        th:text="${estadoconservacao.tipo}"></option>
            </select>

            <input type="submit" value="Cadastrar"/>
        </form>
    </h1>
    <h1>Seres Vivos Cadastrados</h1>
    <table>
        <table>
            <tr th:each="servivo: ${seresvivos}">
                <td th:text="${servivo.idSerVivo}" />
                <td th:text="${servivo.nomeSerVivo}" />
                <td th:text="${servivo.especie}" />
                <td th:text="${servivo.reino.nomeReino}">
                <td th:text="${servivo.estadoConservacao.tipo}" />
        </table>    
    </h1>    
</body>
</html>