<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ser Vivo</title>
</head>
<body>
    <h1>
        <form th:action="@{/home/servivo}" method="POST">
            <label>Nome</label><br>
            <input type="text" name="nomeSerVivo"/>
            <br><label>Especie</label><br>
            <input type="text" name="Especie"/>
            <br><label>Reino</label><br>
            <input type="number" name="Reino" min="1" max="5"/>
            <br><label>Estado de Conservação</label><br>
            <input type="number" name="EstadoConservacao" min="1" max="7"/>

            <input type="submit" value="Cadastrar"/>
        </form>
    </h1>
    <h1>Seres Vivos Cadastrados</h1>
    <table>
        <table>
            <tr th:each="servivo: ${seresvivos}">
                <td th:text="${servivo.idSerVivo}" />
                <td th:text="${servivo.nomeSerVivo}" />
                <td th:text="${servivo.especie}" />
                <td th:text="${servivo.reino}" />
                <td th:text="${servivo.estadoConservacao}" />
                
        </table>    
    </h1>    
</body>
</html>